/* untuk tablet*/
@media all and (max-width: 1000px) {
    .profil {
        width: 100%;
    }
    .heading h2 {
        font-size: 20px;
    }
    .pesan h2 {
        font-size: 14px
    }
    .fade-in-fade-out {
        font-size: 16px;
    }
}

/*untuk smartphone*/
@media all and (max-width: 670px) {
    .profil {
        width: 100%;
    }
    .heading h2 {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .profil p {
        font-size: 12px;
        padding-top: 10px;
    }
    .pesan h2 {
        font-size: 12px;
        padding-top: 10px;
    }
    .fade-in-fade-out {
        font-size: 12px;
    }
}
