/* Untuk Tablet */
@media all and (max-width:1000px){

  .header-nav {
    display:none;
  }

  .header-login {
    display:none;
  }

  .menu-icon::before {
    display:block;
  }

/* ----------body intro----------*/
    .profil {
        width: 100%;
    }
    .heading h2 {
        font-size: 20px;
    }
    .pesan h2 {
        font-size: 14px
    }
    .fade-in-fade-out {
        font-size: 16px;
    }

    .main-col {
      max-width: 100%;
      font-size: 18px;
      margin-bottom: 0 !important;
    }
/* ----------FOOTER----------*/ 

  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  } 


  .footer-col h4{
      font-size: 15px;
  }

  .footer-col ul li a{
      font-size: 13px;
  }      
}

/* Untuk Smartphone */
@media all and (max-width:670px) {

  .header-nav {
    display: none;
  }

  .header-login {
    display: none;
  }

  .menu-icon::before {
    display: block;
  }

/* ----------body intro----------*/
    .profil {
        width: 100%;
    }
    .heading h2 {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .profil p {
        font-size: 12px;
        padding-top: 10px;
    }
    .pesan h2 {
        font-size: 12px;
        padding-top: 10px;
    }
    .fade-in-fade-out {
        font-size: 12px;
    }

    .main-col {
      max-width: 100%;
      font-size: 14px;
    }

/* ----------FOOTER----------*/ 
  .footer-col{
    width: 100%;
  } 

  .footer-col h4{
      font-size: 14px;
  }

  .footer-col ul li a{
      font-size: 12px;
  }
}
